#download {
  margin-top: 50px;
  text-align: center;
  a {
    margin: 0px 10px;
  }
}
#container {
  --cv-content-fg: rgba(0, 0, 0, 1);
  --cv-content-bg: white;
  --cv-content-title: var(--ion-color-dark); // #929292;
  --cv-content-special: var(--ion-color-primary);
  --cv-side-fg: white;
  --cv-side-bg: var(--ion-background-color-lighter);
  //   --cv-side-bg: rgb(45, 62, 80);
  --cv-side-title: white;
  --cv-side-special: #29b6f6;
  //   font-family: 'Open Sans', 'Source Code Pro', monospace;
  width: 210mm;
  height: 297mm;
  margin: 50px auto;
  background-color: var(--cv-content-bg);
  display: flex;
  flex-direction: row;
  em {
    /* color: #377ecb; */
    font-weight: bold;
    color: inherit;
  }
  q {
    color: var(--cv-side-special);
  }
  #sidebar {
    width: 68mm;
    min-width: 68mm;
    height: 100%;
    background-color: var(--cv-side-bg);
    color: var(--cv-side-fg);
    text-align: center;
    padding: 0px 4px;
    h1 {
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 0px;
      color: var(--cv-side-special);
      span {
        color: var(--cv-side-special);
      }
    }
    h2 {
      font-weight: 400;
      font-size: 18px;
      margin: 16px 8px;
      span {
        // color: var(--cv-side-special);
      }
    }
    h3 {
      font-variant: small-caps;
      margin: 20px 0px 0px 0px;
      border-bottom: 1px solid var(--cv-side-fg);
    }
    #info {
      font-size: 12px;
      margin: 0px 20px;
      text-align: left;
      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
          margin-right: 10px;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      & > div {
        flex-grow: 1;
      }
    }
    .block-content {
      font-size: 14px;
      line-height: 25px;
      text-align: justify;
      &.profile {
        span {
          color: var(--cv-side-special);
          font-weight: bold;
        }
      }
      &.skills div {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid var(--cv-side-fg);
        padding: 0px 5px;
        margin: 5px;
      }
      ul {
        padding-left: 20px;
        list-style-type: square;
      }
    }
  }
  #content {
    flex-grow: 1;
    height: 100%;
    color: var(--cv-content-fg);
    padding: 10px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    h3 {
      font-variant: small-caps;
      border-bottom: 1px solid var(--cv-content-title);
      margin-bottom: 0px;
      color: var(--cv-content-title);
      font-weight: bold;
      margin-top: 4px;
    }
    .block-content {
      font-size: 12px;
      margin-bottom: 0px;
    }
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        color: var(--cv-content-fg);
        font-size: 11px;
        margin: 10px 0px 5px 0px;
      }
    }
    h4 {
      flex-grow: 1;
      margin: 5px 0px;
      font-size: 14px;
      color: var(--cv-content-special);
      font-weight: bold;
    }
    .location-and-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 12px;
      h5 {
        flex-grow: 1;
        margin: 0px;
        font-size: 12px;
      }
      .time {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 5px;
      }
      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 5px;
      }
    }
    ul {
      margin-top: 0px;
      list-style-type: square;
      padding-left: 20px;
    }
  }
}

// @each $theme in $themes {
//   :host-context(.#{map-get($theme,name)}) {
//     @include style($theme);
//   }
// }

@media print {
  #containter {
    -webkit-print-color-adjust: exact;
    display: none;
    margin: 0px;
  }
}
