<ion-header>
  <ion-toolbar>
    <div id="toolbar">
      <ion-menu-toggle autoHide="false">
        <ion-button fill="clear" (click)="toggleMenu()">
          <ion-icon name="menu-sharp" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <div class="logo" (click)="goToHome()">
        <div id="logo-img">
          <img />
        </div>
        <div id="logo-text"><span>Abdel</span>Raouf HECHAM</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-content>
      <div class="menu-container">
        <div class="infos">
          <div class="image">
            <img />
          </div>
          <div class="name">
            <span class="firstname">Abdel</span
            ><span class="middlename">Raouf</span>
            <span class="lastname"> HECHAM</span>
          </div>
          <div class="title">
            Fullstack <span class="techno">Web</span>/<span class="techno"
              >Solidity</span
            >
            Developer
          </div>
        </div>

        <div class="navigation">
          <ion-item
            button
            *ngFor="let page of appPages"
            [class.active]="page.active"
          >
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </div>

        <div class="contact">
          <div>Get in touch</div>
          <div class="social">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="logo-github"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
