<ion-split-pane contentId="main" [class.small]="smallSideMenu" when="xs">
  <ion-menu contentId="main">
    <ion-content>
      <div class="menu-container">
        <ion-button fill="clear" (click)="toggleMenu()">
          <ion-icon name="menu-sharp" slot="icon-only"></ion-icon>
        </ion-button>
        <div class="infos">
          <div class="image">
            <img src="./assets/me.jpg" />
          </div>
          <div class="name">
            <span class="firstname">Abdel</span
            ><span class="middlename">raouf</span>
            <span class="lastname"> HECHAM</span>
          </div>
          <div class="title">
            Fullstack <span class="techno">Web/Solidity</span>
            Developer
          </div>
        </div>

        <div class="navigation">
          <ion-item
            button
            *ngFor="let page of appPages"
            [class.active]="page.active"
          >
            <ion-icon [name]="page.icon"></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </div>

        <div class="contact">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="logo-github"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <ion-content id="main">
    <div class="content">
      <div class="section" id="about">
        <div class="title">About me</div>
        <div class="block">
          <div class="block-content">
            <p>
              Hello! my name is <em>Raouf</em> and I am a
              <em>Fullstack Developer</em> with a <em>Ph.D.</em> in Artificial
              Intelligence.
              <!-- I use algorithms and data to understand the world
            around me and display it in a beautiful manner. -->
              I enjoy tracking and optimizing every aspect of life to facilitate
              decision making for me and my clients.
            </p>
          </div>
        </div>

        <div class="block">
          <div class="block-content">
            <p>
              I specialize in building solutions at the intersection of three
              domains:
              <em>Web Developement</em>, <em>Data Engineering</em>, and
              <em>Smart Contracts</em>. While my core skills are
              <em>web-focused</em> (7+ years of experience), I currently work as
              a <em>Data Engineer</em> (4+ years) whilst slowling pivoting to
              <em>Blockchain</em> technology (1~ year).
            </p>
            <p>
              <!-- My philosophy in life is simple:
              <q>Find the pattern; Optimize it</q>. -->
              I am passionate about <em>effective use of data</em>; I enjoy
              working with organisations to extract insights from data. Starting
              from quantifing a problem and accurately capturing its metrics,
              through data preparation and analysis, all the way to meaningful
              presentation and insights.
            </p>
          </div>
          <div class="image career">
            <ion-icon src="./assets/career.svg"></ion-icon>
          </div>
        </div>

        <div class="block">
          <div class="block-content">
            <p>
              My passion for facilitating decision-making using data emanates
              from a personal desire to quatify my life, starting with day to
              day activities all the way to life big goals. For instance, below
              you can find a snapshot of how my current day is going (from great
              to very bad) along with the map of my progress in achieving my
              life goals. If you want to learn more about these two projects,
              please head to my <em>personal blog</em>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-split-pane>
