ion-content#main {
  background: var(--ion-background-color);
}

ion-split-pane {
  --side-width: 370px;
  --side-min-width: 370px;
  --side-max-width: 370px;
  ion-menu {
    --width: 370px;
    --min-width: 370px;
    --max-width: 370px;
    --background: var(--ion-background-color-lighter);
    ion-content {
      --background: var(--ion-background-color--lighter);
    }
    .menu-container {
      padding: 8px 0px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      color: var(--ion-color-white);
      .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          margin: 12px 0px;
          width: 152px;
          height: 152px;
          img {
            border-radius: 50%;
            border: 3px solid var(--ion-color-primary);
            width: 100%;
            height: 100%;
          }
        }
        .name {
          margin: 8px 0px;
          margin-bottom: 16px;
          font-size: 24px;
          .firstname {
            // text-decoration: line-through;
            // color: var(--ion-color-medium);
          }
          .middlename {
            color: var(--ion-color-primary);
          }
          .lastname {
            // color: white;
          }
        }
        .title {
          // text-transform: uppercase;
          font-size: 18px;
          color: var(--ion-color-white-shade);
          .techno {
            color: var(--ion-color-primary);
          }
        }
      }
      .navigation {
        flex: 1;
        margin-top: 24px;
        ion-item {
          font-size: 15px;
          text-transform: uppercase;
          --background: transparent;
          text-align: center;
          --color: var(--ion-color-white-shade);
          --border-width: 0px;
          --inner-border-width: 0px;
          &.active {
            --color: var(--ion-color-primary);
            ion-icon {
              color: var(--ion-color-primary);
            }
          }
          ion-icon {
            color: var(--ion-color-white-shade);
          }
        }
      }

      .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        color: var(--ion-color-white);
        font-weight: bold;
        margin-bottom: 8px;
        ion-icon {
          color: var(--ion-color-primary);
        }
      }
    }
  }
  &.small {
    --side-width: 60px;
    --side-min-width: 60px;
    --side-max-width: 60px;
    ion-menu {
      --width: 60px;
      --min-width: 60px;
      --max-width: 60px;
      .menu-container {
        .infos {
          .image {
            width: 40px;
            height: 40px;
          }
          .name {
            display: none;
          }
          .title {
            display: none;
          }
        }
        .navigation {
          ion-item {
            ion-label {
              display: none;
            }
          }
        }

        .contact {
          flex-direction: column;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding: 24px 8px;
  color: var(--ion-color-white-shade);
  text-align: justify;
  em {
    color: var(--ion-color-primary);
    font-style: normal;
  }
  q {
    color: var(--ion-color-primary);
    font-style: italic;
  }
  .section {
    padding: 8px 10%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(odd) {
      background-color: var(--ion-background-color);
    }
    &:nth-child(even) {
      background-color: var(--ion-background-color-lightest);
    }
    .title {
      color: var(--ion-color-white);
      font-size: 20px;
    }
    .block {
      display: flex;
      // margin-bottom: 24px;
      .sub-title {
        color: var(--ion-color-white);
        font-size: 18px;
      }
      p {
        padding: 8px;
        margin: 0px;
        font-size: 18px;
        line-height: 24px;
      }
      &.lvl1 {
        margin-left: 8px;
        margin-top: 24px;
      }
      .image {
        padding: 8px;
        display: flex;
        align-items: center;
      }
    }
  }
}

#home {
  .name {
    color: var(--ion-color-white);
    font-size: 60px;
    line-height: normal;
    font-variant: bold;
  }
  .subtext {
    font-size: 30px;
    line-height: normal;
  }
}

.image {
  display: flex;
  justify-content: center;
  ion-icon {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .block {
    flex-wrap: wrap;
    .image {
      justify-content: center;
      flex: 1;
    }
  }
}

.seshtat {
  width: 250px;
  border: 1px solid var(--ion-color-primary);
  padding: 8px;
  text-align: center;
  background-image: url(/assets/seshtat-card.svg);
  .date {
  }
  .score {
  }
  .state-icon {
    ion-icon {
      width: 40px;
      height: 40px;
      color: var(--metis-color-red);
    }
  }
  .activities {
    font-size: 12px;
  }
}
